:root{
    --primary-color:#0b5658;
    --secondary-color:#106568;
    --tirtiary-color:#063233;
    --quartarnary-color:#082324;
    --white-smoke:#f1f1f1;
    --light:#333;
    --extra-light:#999;
}